@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";    
}
<a asp-action="Create">Create an Employees</a>
  
<h2>Here is the list of Employees</h2>
<table style="width:50%">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Designation</th>
            <th></th>
            <th></th>          
        </tr>
    </thead>
    <tbody>
        @foreach (Employee e in Model)
        {
            <tr>
                <td>@e.EmployeeId</td>
                <td>@e.FirstName</td>
                <td>@e.LastName</td>
                <td>@e.Designation</td>
                <td><a asp-action="Update" asp-route-empid="@e.EmployeeId">Update</a></td>
                <td>
                    <form asp-route-empid="@e.EmployeeId" asp-action="Delete" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>